<div class="threejs-wrapper" data-controller="threejs"></div>
<div data-controller="audioindex">
  <div>
    <button type="button" id="buttonStart" class="w-12 h-12 bg-red-500 rounded-full">Start Recording</button>
    <button type="button" id="buttonStop" class="w-12 h-12 bg-red-500 rounded-full">Stop Recording</button>
  </div>
</div>
