<div class="w-full text-4xl">
  Take your Ruby on Rails application and wrap it into a PWA

  <ul class="w-full list-disc pl-8 mt-8 text-4xl leading-loose">
    <li>Install it on your kid's/wife's/husband's phone</li>
    <li>Install it on a tablet</li>
    <li>Install it on a laptop</li>
    <li>Install it on dedicated hardware</li>
  </ul>
</div>
