<div class="w-full flex justify-center flex-col">
  <div class="w-full items-center flex flex-row justify-center">
    <iframe class="w-1/2" height="430px" title="Eastnor castle" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/c89b9bec5fd841aa9884aa4e44ca0a8c/embed"> </iframe>
  </div>
  <div class="w-full text-center">
    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> <a href="https://sketchfab.com/3d-models/cyber-soldier-v2-by-oscar-creativo-bcdf6071eb5247039c2f02460c48eefd?utm_medium=embed&utm_campaign=share-popup&utm_content=bcdf6071eb5247039c2f02460c48eefd" target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;"> CYBER SOLDIER V.2 BY Oscar creativo </a> by <a href="https://sketchfab.com/oscar_creativo?utm_medium=embed&utm_campaign=share-popup&utm_content=bcdf6071eb5247039c2f02460c48eefd" target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;"> OSCAR CREATIVO </a> on <a href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=bcdf6071eb5247039c2f02460c48eefd" target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a></p></div>
  </div>
  <ul class="w-full list-disc pl-8 text-4xl leading-loose mt-20">
    <li><strong>WebGL</strong> - a JavaScript API rendering 3D and 2D graphics in the browser</li>
    <li>A number of libraries like <strong>Three.js</strong> or <strong>Babylon.js</strong></li>
    <li>Animated models ready to download or buy</li>
  </ul>
</div>
