<div class="w-full h-3/4 text-xl bg-white text-black p-32" id="darkModeDiv">
  <div class="w-full items-center mt-12">
    Donec tincidunt bibendum tincidunt. Vivamus posuere ut augue non tempus.
    In viverra arcu lacus, at vehicula mi auctor eu. Vivamus non erat sit amet enim sollicitudin tincidunt. <br />
    <br />
    Vestibulum semper nisi id consequat lobortis.
    Pellentesque lacinia nisl vel enim condimentum, sed sagittis enim ullamcorper.
    Nullam posuere in mauris nec interdum. Integer a ultricies tellus. Integer euismod urna vitae nisi ornare laoreet.<br />
    <br />
    Curabitur placerat egestas volutpat. Morbi quis orci justo.
    Donec varius, nibh eu faucibus feugiat, ante leo venenatis sapien, a aliquam quam ipsum non tortor.
    Suspendisse eleifend tempor ante, quis convallis enim vestibulum ac. Praesent id tincidunt ligula.
    Quisque ut lorem blandit, accumsan diam eu, lobortis lorem. Curabitur risus ligula, lacinia eget neque.
    Nullam id lectus sit amet nunc ultrices bibendum mollis ut nisi.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt felis eget felis maximus condimentum.
    Cras interdum ante eu lacinia fermentum. Nullam ornare ultrices arcu, vitae aliquam turpis.
  </div>
  <ul class="list-disc pl-8 mt-8 leading-loose pb-20">
    <li>Nullam ornare ultrices arcu</li>
    <li>Praesent id tincidunt ligula</li>
    <li>Consectetur adipiscing elit.</li>
  </ul>
</div>
