<div class="w-full flex justify-center">
  <ul class="w-1/2 list-disc pl-8 text-4xl leading-loose">
    <li>all DDD concepts put in pure Ruby on Rails</li>
    <li>8 articles</li>
    <li>4 presentations</li>
    <li>3 webinars</li>
    <li>a ton of discussions</li>
  </ul>
  <div class="w-1/2 items-center">
    <img src="/graphics/ddd.webp" class="w-1/2  mx-auto" />
  </div>
</div>
