<div class="w-full flex flex-row justify-center">
  <div class="w-1/3 ">
    <ul class="list-disc pl-8 text-4xl leading-loose">
      <li>Endless list of models</li>
      <li>Run locally or host in web</li>
      <li>
        Other types include
        <ul class="list-disc pl-8 text-2xl leading-loose">
          <li>Summarization</li>
          <li>Image to Video</li>
          <li>Image to Image</li>
          <li>Image to 3D</li>
          <li>Text to Video</li>
          <li>Text Classification</li>
          <li>Text Generation</li>
          <li>Translation</li>
          <li>Text to Speech</li>
          <li>Speech Recognition</li>
          <li>Reinforcement Learining</li>
          <li>...and many others</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="w-2/3 items-center justify-center h-full">
    <img src="/graphics/huggingface.webp" class="mx-auto my-auto" />
  </div>
</div>
