<ul class="w-full list-disc pl-8 text-4xl leading-loose mt-12">
  <li>Any piece of information can be converted to an array of numbers (a vector called <span class="font-bold">embedding</span>)</li>
  <li>Each dimention represents a different aspect of the information</li>
  <li>Embeddings can be compared, similar embeddings represent similar information</li>
</ul>


<%= render partial: '/parts/code/ruby',
           locals: { contents: '
embedding1 = get_embedding("A dog eating a shoe")
embedding2 = get_embedding("A dog eating a flip-flop")
compare_embeddings(embedding1, embedding2)

=> Similarity: 0.7867093875838773

embedding1 = get_embedding("A dog eating a shoe")
embedding2 = get_embedding("Ruby is a great language to write AI software")

=> Similarity: 0.10766097255868425

' } %>
