<ul class="w-full list-disc pl-8 text-4xl leading-loose mt-12">
  <li>PostgreSQL + pgvector</li>
  <li>SQLite + sqlite-vec</li>
  <li>MariaDB + Vector / HeatWave for searching with MySQL</li>
</ul>

<%= render partial: '/parts/code/ruby',
           locals: { contents: '
class AddEmbeddingToImages < ActiveRecord::Migration[8.0]
  def change
    add_column :images, :embedding, :vector, limit: 3072
  end
end
' } %>

<%= render partial: '/parts/code/ruby',
           locals: { contents: '
class Image < ApplicationRecord
  has_neighbors :embedding

  # ...
end
' } %>
