<div class="w-full h-auto relative text-4xl flex leading-normal">
  <div class="w-1/2">
    a client comes with a shiny kiosk device, asking to <span class="font-bold">create a prototype</span> of a <span class="font-bold">new-age product</span> with
    <ul class="w-full list-disc pl-8 text-4xl leading-loose mt-12">
      <li>voice control</li>
      <li>a helpful AI-driven assistant</li>
      <li>a bar-code reader</li>
      <li>voice instructions</li>
      <li>helping choose gifts for specific occasions</li>
      <li>using context-based search</li>
    </ul>
    <br />
    <span class="font-bold text-8xl">... 2 or 3 days?</span>
  </div>
  <div class="w-1/2">
    <img src="/graphics/kiosk.webp" class="w-full" />
  </div>
</div>
