<div class="w-full text-4xl flex flex-col items-center leading-normal" data-controller="jsexample" style="height: 500px;">
  <div class="w-full mb-20">An application in Ruby on Rails allowing to showcase RoR features in presentations.
    <br />Uses
    <span class="font-bold">ActiveRecord</span>,
    <span class="font-bold">Turbo</span>,
    <span class="font-bold">TailwindCSS</span> and
    <span class="font-bold">StimulusJS</span>!</div>
  <img src="/graphics/rcc-logo.svg" style="height: 450px;">
</div>
