<div class="w-full text-xl" id="smallFontDiv">
  <div class="w-full items-center">
    Donec tincidunt bibendum tincidunt. Vivamus posuere ut augue non tempus.
    In viverra arcu lacus, at vehicula mi auctor eu. Vivamus non erat sit amet enim sollicitudin tincidunt. <br />
    <br />
    Vestibulum semper nisi id consequat lobortis.
    Pellentesque lacinia nisl vel enim condimentum, sed sagittis enim ullamcorper.
    Nullam posuere in mauris nec interdum. Integer a ultricies tellus. Integer euismod urna vitae nisi ornare laoreet.
  </div>
  <ul class="list-disc pl-8 mt-8 leading-loose pb-20">
    <li>Nullam ornare ultrices arcu</li>
    <li>Praesent id tincidunt ligula</li>
    <li>Consectetur adipiscing elit.</li>
  </ul>
</div>
