<div class="w-full flex justify-center">
  <ul class="w-1/2 list-disc pl-8 text-4xl leading-loose">
    <li>Tetris & Frogger in pure Ruby on Rails</li>
    <li>Real-time</li>
    <li>Multi-player</li>
    <li>Tetris - used for 2023 Euruko in Vilnus</li>
    <li>Frogger - presented at RailsWorld in Toronto</li>
  </ul>
  <div class="w-1/2 items-center">
    <img src="/graphics/tetris_and_frogger.webp" class="mx-auto" />
  </div>
</div>
