<div class="w-full mt-24 p-12 flex justify-between">
  <div class="w-2/3">
    <div class="text-8xl font-bold uppercase leading-tight ">The joy of creativity<br />in the age of AI</div>
    <div class="text-7xl font-bold mt-28">Paweł Strzałkowski</div>

    <div class="text-5xl font-semibold mt-4">CTO at Visuality</div>
    <div class="text-4xl mt-36">Ruby Community Conference, Cracow 2024</div>
  </div>
  <div class="w-1/3">
    <img class="" src="/graphics/pawel.webp" />
  </div>
</div>
