<div class="w-full mt-24 text-5xl grid grid-cols-[min-content_auto_min-content] gap-4">
  <div class="w-32 h-32 mx-auto relative">
    <img src="/graphics/circle.png" class="w-100" />
    <div class="absolute top-0 left-0 right-0 bottom-0 pl-10 pt-6">1</div>
  </div>
  <div class="h-32 my-auto leading-loose">Record Audio and send it to a Server</div>
  <div class="h-32 my-auto text-red-500 text-8xl">✓</div>

  <div class="w-32 h-32 mx-auto relative">
    <img src="/graphics/circle.png" class="w-100" />
    <div class="absolute top-0 left-0 right-0 bottom-0 pl-10 pt-6">2</div>
  </div>
  <div class="h-32 my-auto leading-loose">Convert Audio to Text and figure out the command</div>
  <div class="h-32 my-auto text-red-500 text-8xl">✓</div>

  <div class="w-32 h-32 mx-auto relative">
    <img src="/graphics/circle.png" class="w-100" />
    <div class="absolute top-0 left-0 right-0 bottom-0 pl-10 pt-6">3</div>
  </div>
  <div class="h-32 my-auto leading-loose">Broadcast command to frontend and call JavaScript function</div>
  <div class="h-32 my-auto text-red-500 text-8xl"></div>
</div>
